<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>The Stoic</title>
  </head>
  <body>
    <section class="bubble-articles">
      <article class="bubble-article-card">
        <div class="wrap">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, atque,
          laudantium similique nihil veritatis ullam est provident at eveniet
          quia deserunt recusandae ducimus odit unde incidunt, aspernatur
          deleniti! Excepturi, ad!
        </div>
        <div class="see-more"><a href="#">See More...</a></div>
      </article>
      <article class="bubble-article-card">
        <div class="wrap">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis
          autem distinctio saepe soluta obcaecati accusamus, voluptate, esse
          quibusdam odit nisi, dicta laboriosam voluptatum. Ipsam dolore esse
          nobis odit ipsa nemo.
        </div>
        <div class="see-more"><a href="#">See More...</a></div>
      </article>
      <article class="bubble-article-card">
        <div class="wrap">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis
          autem distinctio saepe soluta obcaecati accusamus, voluptate, esse
          quibusdam odit nisi, dicta laboriosam voluptatum. Ipsam dolore esse
          nobis odit ipsa nemo.
        </div>
        <div class="see-more"><a href="#">See More...</a></div>
      </article>
    </section>
    <section class="bubble-quotes">
      <article class="bubble-quote-card">
        <div class="wrap">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, atque,
          laudantium similique nihil veritatis ullam est provident at eveniet
          quia deserunt recusandae ducimus odit unde incidunt, aspernatur
          deleniti! Excepturi, ad! Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Distinctio repudiandae placeat perferendis aliquam,
          eius a? Illo reiciendis deserunt nam iure est quo, repellendus magnam
          veniam praesentium porro ullam eos dicta, rem aut aspernatur? Nostrum
          magnam sed autem quo. Doloremque inventore cum eius sint doloribus vel
          incidunt, autem dolorem ea! Alias possimus tenetur praesentium ducimus
          necessitatibus assumenda debitis consequatur, a odit magni nemo dicta
          aperiam velit nobis obcaecati tempora. Tempore minima exercitationem
          nulla quae ducimus magni odit, explicabo ullam deleniti nihil deserunt
          minus ad, nostrum hic mollitia eaque aut, doloremque aspernatur libero
          repellat. Libero a officiis quibusdam mollitia nihil laudantium
          repellendus.
        </div>
        <div class="see-more"><a href="#">See More...</a></div>
      </article>
      <article class="bubble-quote-card">
        <div class="wrap">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis
          autem distinctio saepe soluta obcaecati accusamus, voluptate, esse
          quibusdam odit nisi, dicta laboriosam voluptatum. Ipsam dolore esse
          nobis odit ipsa nemo.
        </div>
        <div class="see-more"><a href="#">See More...</a></div>
      </article>
      <article class="bubble-quote-card">
        <div class="wrap">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis
          autem distinctio saepe soluta obcaecati accusamus, voluptate, esse
          quibusdam odit nisi, dicta laboriosam voluptatum. Ipsam dolore esse
          nobis odit ipsa nemo.
        </div>
        <div class="see-more"><a href="#">See More...</a></div>
      </article>
    </section>

    <script src="/index.js"></script>
  </body>
</html>
