<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <!-- link to CSS component for this HTML component -->
    <link rel="stylesheet" href="/components/navbar.css" />
    <title>The Stoic</title>
  </head>
  <body>
    <nav class="navbar">
      <section class="nav-title">
        <h1 class="title">The Stoics</h1>
      </section>
      <ul class="nav-list">
        <li class="nav-items">Home</li>
        <li class="nav-items">About</li>
        <li class="nav-items">Library</li>
        <li class="nav-items">Contact</li>
      </ul>
    </nav>

    <script src="/index.js"></script>
  </body>
</html>
